# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

SuprtServerTests/bin/Debug/FakeItEasy.dll
SuprtServerTests/bin/Debug/FakeItEasy.xml
SuprtServerTests/bin/Debug/SuperServer.dll
SuprtServerTests/bin/Debug/SuperServer.pdb
SuprtServerTests/bin/Debug/SuprtServerTests.dll
SuprtServerTests/bin/Debug/SuprtServerTests.pdb
SuprtServerTests/obj/Debug/SuprtServerTests.dll
SuprtServerTests/obj/Debug/SuprtServerTests.pdb
SuperServer/obj/Debug/SuperServer.dll
SuperServer/obj/Debug/SuperServer.pdb
SuperServer/obj/Debug/SuperServer.csproj.FileListAbsolute.txt
SuperServer/bin/Debug/SuperServer.dll
SuperServer/bin/Debug/SuperServer.pdb
CustomTaskSchduler/bin/Debug/CustomTaskSchduler.dll
CustomTaskSchduler/bin/Debug/CustomTaskSchduler.dll
CustomTaskSchduler/bin/Debug/CustomTaskSchduler.pdb
CustomTaskSchduler/obj/Debug/CustomTaskSchduler.dll
CustomTaskSchduler/obj/Debug/CustomTaskSchduler.pdb
UnitTestingPatternsForConcurrentCode.jmconfig
UnitTestingPatternsForConcurrentCode.v12.suo